<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Team17">
	<test thread-count="1" name="DiabetesTest" >
		<classes>
			<class name="com.numpy.scraping.team17.Diabetes" />
		</classes>
	</test> <!-- DiabetesTest -->
	<test thread-count="1" name="HypothyroidismTest">
		<classes>
			<class name="com.numpy.scraping.team17.Hypothyroidism" />
		</classes>
	</test> <!-- HypothyroidismTest -->

	<test thread-count="1" name="HypertensionTest">
		<classes>
			<class name="com.numpy.scraping.team17.Hypertension" />
		</classes>
	</test> <!-- HypertensionTest -->
	<test thread-count="1" name="PCOSTest">
		<classes>
			<class name="com.numpy.scraping.team17.PCOS" />
		</classes>
	</test> <!-- PCOSTest -->

</suite> <!-- Team17 -->
